---
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/footer.astro";

import canaryOgImage from "../../assets/blog/installing-overlayed-canary.png";
import { Download } from "../../components/react/download";

const [canary] = await Astro.glob("../../content/canary/index.mdx");
---

<style>
  /* TODO: move this to a shared layout?*/
  .main-content {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
</style>

<Layout
  title={"Overlayed - Discord"}
  description="Join our Discord server to get help, report bugs, or just chat with the community."
  ogImage={canaryOgImage.src}
>
  <main class="main-content px-8 pt-28">
    <section>
      <div class="flex flex-col">
        <img
          src="/img/canary.png"
          width="256"
          height="256"
          class="m-auto"
          alt="Overlayed Canary"
        />
        <div
          class="flex m-auto flex-col text-center items-center justify-center"
        >
          <h1 class="text-[4rem] leading-[4.5rem] font-extrabold mb-8">
            Overlayed Canary
          </h1>
          <p
            class="max-w-[900px] leading-[3rem] text-center text-zinc-400 font-bold text-[2.5rem]"
          >
            Canary is updated more frequently which <span
              class="-red-400 line-through">could be</span
            >
            {" "}<em>is</em> unstable.
          </p>

          <div class="pt-8">
            <Download client:load canary />
          </div>

          <div class="px-4 prose prose-invert text-left mx-auto pt-28">
            <canary.Content />
          </div>
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
