
[Desktop Entry]
Name=Overlayed
Comment=A Discord overlay for Linux
Exec=overlayed
Icon=dev.overlayed.Overlayed
Type=Application
Terminal=false
StartupNotify=true
Categories=Game;
Keywords=discord;
StartupWMClass=Overlayed
Version=1.4
