---
export interface Props {
  name: string;
  desc: string;
}

const { name, desc } = Astro.props;
---

<div
  class="border-zinc-800 object-cover pl-6 pt-6 border rounded-2xl p-2 w-full"
>
  <h2 class="pb-4 text-2xl font-bold text-white">{name}</h2>
  <p class="pb-4">{desc}</p>
  <slot />
</div>
