---
export interface Props {
  name: string;
  desc: string;
}

const { name, desc } = Astro.props;
---

<div class="border-zinc-800 overflow-hidden pl-6 pt-6 border rounded-2xl p-2 h-96 w-full 2xl:h-96">
  <div class="pb-4 text-2xl font-bold text-white">{name}</div>
  <p class="pb-2">{desc}</p>
  <slot />
</div>
