---
import Link from "./link.astro";
import { DISCORD_INVITE_LINK } from "../constants";
---

<footer class="py-24 w-full mx-auto text-gray-400 text-center">
  <div
    class="relative flex justify-center items-center mb-24 w-full h-2 bg-gradient-to-r from-transparent via-zinc-800 to-transparent"
  >
    <a
      aria-label="Go back to the top"
      href="#"
      class="h-12 w-12 bg-zinc-800 rounded-[1.25rem] grid place-items-center group hover:scale-75 hover:bg-transparent duration-500 cursor-pointer"
    >
      <svg
        class="group-hover:scale-[2] group-hover:rotate-180 duration-300 group-active:scale-100"
        width="26"
        height="29.5"
        viewBox="0 0 52 59"
        fill="none"
        overflow="visible"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M26.0573 58.9944C17.9008 58.9944 12.0349 58.1006 8.4595 56.3128C6.6159 55.419 5.1634 54.2179 4.10196 52.7095C3.0405 51.2011 2.25838 49.3296 1.75559 47.095C1.30866 45.1397 1.02933 42.905 0.9176 40.3911C0.80587 37.8212 0.75 34.1899 0.75 29.4972C0.75 23.6313 0.86173 19.1341 1.0852 16.0056C1.36453 12.8771 2.00698 10.2514 3.01257 8.1285C4.12989 5.83799 5.8338 4.07821 8.1243 2.84916C10.4148 1.62011 13.655 0.782121 17.845 0.335201V29.4972C17.845 32.7933 17.9008 35.9497 18.0126 38.9665C18.1243 41.257 18.4036 42.933 18.8506 43.9944C19.3534 45.0559 20.1634 45.6704 21.2807 45.838C22.2304 46.0614 23.8226 46.1732 26.0573 46.1732C28.3478 46.1732 29.912 46.0894 30.75 45.9218V58.9106C30.2472 58.9665 29.493 58.9944 28.4874 58.9944H26.0573Z"
          fill="white"></path>
        <path
          d="M34.3213 19.9441C34.3771 21.4525 34.4051 24.6369 34.4051 29.4972V58.6592C38.5391 58.2682 41.7514 57.4581 44.0419 56.229C46.3883 55 48.1201 53.2123 49.2375 50.8659C50.243 48.7989 50.8576 46.2011 51.081 43.0726C51.3604 39.8883 51.5 35.3631 51.5 29.4972C51.5 22.7933 51.3045 17.7654 50.9134 14.4134C50.5782 11.0615 49.6844 8.352 48.2319 6.28491C46.6676 4.05028 44.1537 2.4581 40.69 1.50838C37.2821 0.50279 32.4497 0 26.1928 0H23.7626C22.757 0 22.0028 0.0279301 21.5 0.0838001V13.1564C22.2263 12.933 23.7905 12.8212 26.1928 12.8212C28.2598 12.8212 29.852 12.905 30.9693 13.0726C32.0866 13.2961 32.8967 13.9385 33.3995 15C33.9023 16.0056 34.2095 17.6536 34.3213 19.9441Z"
          fill="white"></path>
      </svg>
    </a>
  </div>
  <div class="flex flex-col justify-center items-center">
    <div class="flex items-center justify-center gap-4 mb-4 text-lg">
      <Link title="Discord Server Link" target="_blank" to="/discord">
        Discord
      </Link>
      <Link title="Blog" to="/blog">Blog</Link>
      <Link
        title="Source on Github"
        target="_blank"
        to="https://github.com/Hacksore/overlayed"
      >
        Github
      </Link>
      <Link
        title="Overlyed on Twitter"
        target="_blank"
        to="https://x.com/OverlayedDev"
      >
        Twitter
      </Link>
    </div>
    <div class="flex items-center justify-center gap-4 text-[0.9rem]">
      <Link title="Privacy Policy" to="/privacy">Privacy</Link>
      <Link title="Terms of Service" to="/tos">Terms</Link>
      <Link title="About" to="/about">About</Link>
      <Link title="Overlayed email" to="mailto:support@overlayed.dev">
        Contact
      </Link>
    </div>
    <div>
      <p class="mt-8 p-4 text-[1rem]">
        Overlayed is an independent application and is not affiliated with or
        endorsed by Discord
      </p>
    </div>
  </div>
</footer>
