---
export interface Props {
  to: string;
  class?: string;
}

const { to, class: className } = Astro.props;

---

<a
  class={`${className ?? ""}text-gray-400 hover:text-gray-300 ease-in-out duration-300 transition-all`}
  href={to}
  target="_blank"
>
  <slot />
</a>

