---
import { DISCORD_INVITE_LINK } from "../config";
---

<nav
  class="flex justify-between items-center navbar-blur text-white p-5 fixed z-[55] h-16 w-full !bg-[#13151a]/10 transition"
>
  <div class="flex gap-4 items-center">
    <a href="/" class="flex gap-4">
      <div>
        <svg
          class="group-hover:scale-[2] group-hover:rotate-180 duration-300 group-active:scale-100"
          width="26"
          height="29.5"
          viewBox="0 0 52 59"
          fill="none"
          overflow="visible"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="logo1"
            d="M26.0573 58.9944C17.9008 58.9944 12.0349 58.1006 8.4595 56.3128C6.6159 55.419 5.1634 54.2179 4.10196 52.7095C3.0405 51.2011 2.25838 49.3296 1.75559 47.095C1.30866 45.1397 1.02933 42.905 0.9176 40.3911C0.80587 37.8212 0.75 34.1899 0.75 29.4972C0.75 23.6313 0.86173 19.1341 1.0852 16.0056C1.36453 12.8771 2.00698 10.2514 3.01257 8.1285C4.12989 5.83799 5.8338 4.07821 8.1243 2.84916C10.4148 1.62011 13.655 0.782121 17.845 0.335201V29.4972C17.845 32.7933 17.9008 35.9497 18.0126 38.9665C18.1243 41.257 18.4036 42.933 18.8506 43.9944C19.3534 45.0559 20.1634 45.6704 21.2807 45.838C22.2304 46.0614 23.8226 46.1732 26.0573 46.1732C28.3478 46.1732 29.912 46.0894 30.75 45.9218V58.9106C30.2472 58.9665 29.493 58.9944 28.4874 58.9944H26.0573Z"
            fill="white"></path>
          <path
            id="logo2"
            d="M34.3213 19.9441C34.3771 21.4525 34.4051 24.6369 34.4051 29.4972V58.6592C38.5391 58.2682 41.7514 57.4581 44.0419 56.229C46.3883 55 48.1201 53.2123 49.2375 50.8659C50.243 48.7989 50.8576 46.2011 51.081 43.0726C51.3604 39.8883 51.5 35.3631 51.5 29.4972C51.5 22.7933 51.3045 17.7654 50.9134 14.4134C50.5782 11.0615 49.6844 8.352 48.2319 6.28491C46.6676 4.05028 44.1537 2.4581 40.69 1.50838C37.2821 0.50279 32.4497 0 26.1928 0H23.7626C22.757 0 22.0028 0.0279301 21.5 0.0838001V13.1564C22.2263 12.933 23.7905 12.8212 26.1928 12.8212C28.2598 12.8212 29.852 12.905 30.9693 13.0726C32.0866 13.2961 32.8967 13.9385 33.3995 15C33.9023 16.0056 34.2095 17.6536 34.3213 19.9441Z"
            fill="white"></path>
        </svg>
      </div>
      <div class="font-bold text-xl">Overlayed</div>
    </a>
  </div>
  <!--spacer -->
  <div></div>
  <div class="flex gap-4">
    <a
      aria-label="discord"
      target="_blank"
      rel="noreferrer"
      href={DISCORD_INVITE_LINK}
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="1em"
        height="1em"
        fill="currentColor"
        class="h-6 w-6 text-white opacity-100 duration-300 hover:opacity-50"
        ><path
          d="M20.317 4.37a19.791 19.791 0 0 0-4.885-1.515.074.074 0 0 0-.079.037c-.21.375-.444.864-.608 1.25a18.27 18.27 0 0 0-5.487 0 12.64 12.64 0 0 0-.617-1.25.077.077 0 0 0-.079-.037A19.736 19.736 0 0 0 3.677 4.37a.07.07 0 0 0-.032.027C.533 9.046-.32 13.58.099 18.057a.082.082 0 0 0 .031.057 19.9 19.9 0 0 0 5.993 3.03.078.078 0 0 0 .084-.028c.462-.63.874-1.295 1.226-1.994a.076.076 0 0 0-.041-.106 13.107 13.107 0 0 1-1.872-.892.077.077 0 0 1-.008-.128 10.2 10.2 0 0 0 .372-.292.074.074 0 0 1 .077-.01c3.928 1.793 8.18 1.793 12.062 0a.074.074 0 0 1 .078.01c.12.098.246.198.373.292a.077.077 0 0 1-.006.127 12.299 12.299 0 0 1-1.873.892.077.077 0 0 0-.041.107c.36.698.772 1.362 1.225 1.993a.076.076 0 0 0 .084.028 19.839 19.839 0 0 0 6.002-3.03.077.077 0 0 0 .032-.054c.5-5.177-.838-9.674-3.549-13.66a.061.061 0 0 0-.031-.03zM8.02 15.33c-1.183 0-2.157-1.085-2.157-2.419 0-1.333.956-2.419 2.157-2.419 1.21 0 2.176 1.096 2.157 2.42 0 1.333-.956 2.418-2.157 2.418zm7.975 0c-1.183 0-2.157-1.085-2.157-2.419 0-1.333.955-2.419 2.157-2.419 1.21 0 2.176 1.096 2.157 2.42 0 1.333-.946 2.418-2.157 2.418Z"
        ></path></svg
      ></a
    >
    <a
      aria-label="github"
      target="_blank"
      rel="noreferrer"
      href="https://github.com/Hacksore/overlayed"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="1em"
        height="1em"
        fill="currentColor"
        class="h-6 w-6 text-white opacity-100 duration-300 hover:opacity-50"
        ><path
          d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
        ></path></svg
      ></a
    >
    <a
      aria-label="twitter"
      target="_blank"
      rel="noreferrer"
      href="https://x.com/OverlayedDev"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="1em"
        height="1em"
        fill="currentColor"
        class="h-6 w-6 text-white opacity-100 duration-300 hover:opacity-50"
      >
        <path
          fill="currentColor"
          d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23"
        ></path>
      </svg>
    </a>
  </div>
</nav>

<style>
  .navbar-blur {
    backdrop-filter: blur(28px);
    -webkit-backdrop-filter: blur(28px);
  }
</style>
