---
import { DISCORD_INVITE_LINK } from "../config";
import Link from "../components/link.astro";
import DiscordIcon from "../components/icons/discord.astro";
import OverlayedIcon from "../components/icons/overlayed.astro";
import GithubIcon from "../components/icons/github.astro";
import TwitterIcon from "../components/icons/twitter.astro";
import { Stars } from "../components/react/stars";
---

<nav
  class="flex justify-between items-center navbar-blur text-white p-5 fixed z-[55] h-16 w-full !bg-[#13151a]/10 transition"
>
  <div class="flex gap-4 items-center">
    <a href="/" class="flex gap-4">
      <div>
        <OverlayedIcon />
      </div>
      <div class="font-bold text-xl">Overlayed</div>
    </a>
  </div>
  <!--spacer -->
  <div></div>
  <div class="flex gap-4">
    <a
      aria-label="discord"
      target="_blank"
      rel="noreferrer"
      href={DISCORD_INVITE_LINK}
    >
      <DiscordIcon />
    </a>
    <a
      aria-label="github"
      target="_blank"
      rel="noreferrer"
      href="https://github.com/Hacksore/overlayed"
    >
      <GithubIcon />
    </a>
    <a
      aria-label="twitter"
      target="_blank"
      rel="noreferrer"
      href="https://x.com/OverlayedDev"
    >
      <TwitterIcon />
    </a>
  </div>
</nav>

<style>
  .navbar-blur {
    backdrop-filter: blur(28px);
    -webkit-backdrop-filter: blur(28px);
  }
</style>
