@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient-angle: 360deg;

    --background: 240 4% 16%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-hovered: 0 0% 98%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 211 61% 48%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: ;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --error-label: 0 84.2% 60.2%;

    --ring: 240 5% 64.9%;

    --radius: 0.5rem;

    --difficulty-beginner: 201 96% 32%;
    --difficulty-easy: 150 100% 25%;
    --difficulty-medium: 35 92% 33%;
    --difficulty-hard: 0 72% 51%;
    --difficulty-extreme: 262 83% 58%;

    --difficulty-beginner-dark: 199 69% 72%;
    --difficulty-easy-dark: 142 77% 73%;
    --difficulty-medium-dark: 31 86% 60%;
    --difficulty-hard-dark: 0 91% 71%;
    --difficulty-extreme-dark: 269 97% 85%;
  }

  .dark {
    --background: 240 4% 16%;
    --foreground: 240 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-hovered: 240 10% 6.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 240 91% 64%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: ;

    --destructive: 0 74% 40%;
    --destructive-foreground: 0 85.7% 97.3%;

    --error-label: 0 92.2% 64.9%;

    --ring: 240 3.7% 15.9%;
  }
}

ul {
  list-style: circle;
}

.nice-scroll::-webkit-scrollbar {
  width: 18px;
}

.nice-scroll::-webkit-scrollbar-track {
  background: #1f1f1f;
  border-radius: 8px;
}

.nice-scroll::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border-radius: 8px;
  border: 4px solid #1f1f1f;
}
