---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
---

<Layout
  title="Overlayed - 404"
  description="The page you are looking for cannot be found"
>
  <main class="pt-40">
    <div class="flex justify-center items-center flex-col">
      <h1 class="font-bold text-5xl mb-8">404</h1>
      <p class="text-2xl">The page you are looking for cannot be found</p>
      <Footer />
    </div>
  </main>
</Layout>
