---
import type { JSX } from "astro/jsx-runtime";
import Layout from "../layouts/Layout.astro";

interface Frontmatter {
  frontmatter: {
    title: string;
    description?: string;
  };
  Content: JSX.Element;
}

const [about] = Object.values(
  import.meta.glob<Frontmatter>("../content/about/index.mdx", { eager: true }),
);
---

<Layout
  title={`Overlayed - ${about.frontmatter.title}`}
  description={about.frontmatter.description}
>
  <main class="px-4 prose prose-invert mx-auto">
    <div class="pt-2 pb-20"></div>
    <about.Content />
  </main>
</Layout>
