---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog", ({ data }) => {
  return data.draft !== true;
});

// Sort my blog posts
blogPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
);
---

<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>

<Layout
  title="Blog – Installing Overlayed on Windows"
  description="How to install Overlayed on Windows Step by Step"
>
  <main class="flex mx-auto  px-4 pt-24">
    <section class="mx-auto">
      <h1 class="text-4xl font-bold text-center mb-10">Blog</h1>
      <ul class="space-y-4">
        {
          blogPosts.map((post) => (
            <div class="p-2">
              <li>
                <a href={`/blog/${post.slug}`} class="group">
                  <div class="transf text-black dark:text-white opacity-60 group-hover:opacity-100 text-2xl">
                    {post.data.title}
                  </div>
                  <div class="transf opacity-40 group-hover:opacity-80 space-x-1">
                    <time datetime={post.data.pubDate}>
                      {new Date(post.data.pubDate).toLocaleDateString("en-us", {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      })}
                    </time>
                  </div>
                </a>
              </li>
            </div>
          ))
        }
      </ul>
    </section>
  </main>

  <Footer />
</Layout>
