---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const blogFiles = await getCollection("blog");

  // TODO: fix type
  return blogFiles.map((file: any) => {
    return {
      params: {
        slug: `${file.slug}`,
      },
      props: file,
    };
  });
}

type Props = CollectionEntry<"blog">;

const post: Props = Astro.props;

const { Content } = await post.render();
---

<Layout title={`Overlayed - ${post.data.title}`}>
  <main class="px-4 prose prose-invert mx-auto pt-28">
    <Content />
  </main>

  <Footer />
</Layout>
