---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card.astro";
import Logo from "../components/logo.astro";
import Link from "../components/link.astro";
import Footer from "../components/footer.astro";
---

<style>
  main {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>

<Layout>
  <main
    class="pt-36 pb-4 px-4 min-h-screen w-full flex justify-center items-center flex-col gap-10"
  >
    <Logo />

    <h1 class="!mb-0">
      Welcome to <span class="text-[#5865f2]">Overlayed</span>
    </h1>
    <!-- prettier-ignore -->
    <p class="text-center">
      A modern, <Link to="https://github.com/Hacksore/overlayed">open-source</Link>, and free voice chat overlay for Discord that supports macOS, Linux, and Windows!
    </p>
    <div>
      <a
        target="_blank"
        href="https://github.com/Hacksore/overlayed/releases"
        class="hover:bg-primary bg-primary p-4 rounded-lg">Download Now</a
      >
    </div>
    <div class="grid md:grid-cols-2 w-full items-center gap-2">
      <Card
        name="User List"
        desc="See who is talking, muted, and deafened in the current voice channel"
      >
        <img src="/img/users.png" alt="User List" />
      </Card>
      <Card
        name="Transparent & Clickthrough"
        desc="Transparent window that can ignore mouse clicks"
      >
        <img src="/img/transparent.png" alt="Transparent" class="w-full" />
      </Card>
      <Card
        name="Always on Top"
        desc="Always stays on top so you can continue working or gaming"
      >
        <img src="/img/on-top.png" alt="Always on top" class="w-full" />
      </Card>
      <Card
        name="Blazingly Fast™"
        desc="Built with tauri an efficient rust framework"
      >
        <img src="/img/resources.png" alt="Lightweight" class="w-full" />
      </Card>
    </div>
    <Footer />
  </main>
</Layout>
