---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";

import quakeconOgImage from "../assets/blog/quakecon.png";
import Link from "../components/link.astro";
import Video from "../components/video.astro";
---

<style>
  /* TODO: move this to a shared layout?*/
  .main-content {
    margin: auto;
    width: 800px;
    max-width: calc(100% - 2rem);
  }
</style>

<Layout
  title={"Overlayed - Quakecon 2024"}
  description="Follow @OverlayedDev on Twitter and Join the Discord for a chance to win a giveaway!"
  ogImage={quakeconOgImage.src}
>
  <main class="main-content px-2 pt-28">
    <section>
      <div class="flex flex-col text-center">
        <div
          class="flex m-auto gap-2 flex-col text-[2.0rem] items-center justify-center"
        >
          <Link
            target="_blank"
            to="https://quakecon.bethesda.net/en/"
            title="Learn about quakecon"
          >
            <img class="mb-8" src="/img/quakecon-logo.png" />
          </Link>
          <p class="text-zinc-400">
            Overlayed gives you a movable overlay for Discord voice chat (<Link
              to="/about"
              title="Learn More about Overlayed"
              underline
            >
              learn more
            </Link>).
          </p>

          <p class="text-zinc-400 mt-12 mb-4">🎥 Teaser Video</p>

          <Video
            class="w-full"
            src="https://www.youtube.com/embed/fYUzuQni5S0"
          />
          <a
            href="/"
            title="Download Overlayed"
            class="bg-primary hover:bg-primary/80 text-white text-[1.75rem] sm:text-[2rem] flex items-center justify-center sm:h-[80px] h-20 font-bold py-2 px-12 rounded-2xl my-10"
            >Download Now</a
          >
        </div>
      </div>
    </section>
  </main>
  <Footer />
</Layout>
