---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import CommonHead from "../components/common-head.astro";
import Navbar from "../components/navbar.astro";
import "../styles/prose.css";

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
  canonicalPath?: string;
}

const { title, description, canonicalPath, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <CommonHead
    title={title ?? SITE_TITLE}
    description={description ?? SITE_DESCRIPTION}
    image={ogImage}
    canonicalPath={canonicalPath}
  />

  <body>
    <Navbar />
    <slot />
    <style is:global>
      html {
        background: #13151a;
        background-size: 224px;
        color: #fff;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
      *::selection {
        color: white;
        background-color: #5855f2;
      }

      body {
        scroll-behavior: smooth;
      }

      body::-webkit-scrollbar-track {
        background: #13151a;
      }

      body::-webkit-scrollbar-thumb {
        background-color: #6b6b6b;
        border-radius: 8px;
        border: 4px solid #13151a;
      }
    </style>
  </body>
</html>
