---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import CommonHead from "../components/common-head.astro";
import Navbar from "../components/navbar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <CommonHead title={title ?? SITE_TITLE} description={SITE_DESCRIPTION} />

  <body>
    <Navbar />
    <slot />
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
        color: #fff;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
      body::-webkit-scrollbar {
        width: 18px;
      }

      body::-webkit-scrollbar-track {
        background: #1f1f1f;
      }

      body::-webkit-scrollbar-thumb {
        background-color: #6B6B6B;
        border-radius: 8px;
        border: 4px solid #1f1f1f;
      }
    </style>
  </body>
</html>
