---
import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";
import CommonHead from "../components/common-head.astro";
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
import "../styles/prose.css";

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
}

const { title, description, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <CommonHead
    title={title ?? SITE_TITLE}
    description={description ?? SITE_DESCRIPTION}
    image={ogImage}
  />

  <body>
    <Navbar />
    <slot />
    <style is:global>
      html {
        background: #13151a;
        background-size: 224px;
        color: #fff;
      }
      *::selection {
        color: white;
        background-color: #5855f2;
      }

      body {
        scroll-behavior: smooth;
      }
    </style>
    <Footer />
  </body>
</html>
