---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import CommonHead from "../components/common-head.astro";
import Navbar from "../components/navbar.astro";
import "../styles/prose.css";

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <CommonHead
    title={title ?? SITE_TITLE}
    description={description ?? SITE_DESCRIPTION}
  />

  <body>
    <Navbar />
    <slot />
    <style is:global>
      html {
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
        color: #fff;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
      body::-webkit-scrollbar {
        width: 18px;
      }

      body::-webkit-scrollbar-track {
        background: #1f1f1f;
      }

      body::-webkit-scrollbar-thumb {
        background-color: #6b6b6b;
        border-radius: 8px;
        border: 4px solid #1f1f1f;
      }

      .bg-radial-1 {
        background: radial-gradient(at 50% 50%, #bfbbbb7e, transparent, transparent);
        transform: translate(-50%, -50%) scale(0.75);
      }
      .parent-download:hover .bg-radial-1 {
        background: radial-gradient(at 50% 50%, #bfbbbb7e, transparent, transparent);
        transform: translate(-50%, -50%) scale(1);
      }
      .parent-button:hover > .platform-button > .inverse-image {
        transform: translate(-64px, -48px);
      }
      .parent-button:hover > .standard-image {
        transform: translate(-100%, -100%);
        opacity: 0;
      }
      .standard-image:hover {
        opacty: 1 !important;
        transform: translate(0px, 0px) !important;
      }
      .platform-button:hover > .platform-button-text {
        filter: drop-shadow(0 0 0.5rem #fff)
      }
    </style>
  </body>
</html>
